.Posts {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.PostsImgBox {
    cursor: pointer;
}

.PostsImg {
    width: 100%;
    height: 100%;
    aspect-ratio: 1;
}
.PostsModalHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 1em;
    border: 1px solid whitesmoke;
    margin-bottom: 4em;
}
.PostsBodyHeader {
    display: flex;
    align-items: center;
    gap: 1em;
}
.PostsBodyHeaderImgBox {
    width: 4em;
    height: 4em;
}
.PostsBodyHeaderImg {
    width: 100%;
    height: 100%;
    border-radius: 2em;
}
.PostsBody {
    display: flex;
    gap: 1em;
    flex-direction: column;
}
.PostsBodyImg {
    width: 100%;
    height: auto;
}
